/* 
    Created on : 20/02/2019 16:19:11
    Author     : William Santos
*/

body { 
    background-color: cornsilk; 
    font-family: 'Courier New', Courier, monospace; 
}

h1 { 
    font-variant: small-caps; 
    text-align: center; 
}

.word-placeholder { 
    width: -moz-fit-content;
    width: fit-content;
    margin: auto; 
}

.word-input {
    display: inline-block;
    background-color: inherit;
    font-family: inherit;
    font-size: medium;
    font-style: italic;
    border: 0;
    border-bottom: 2px solid black;
    text-align: center;
    outline: none;
}

.word-input:focus {
    border-bottom: 3px solid black;
    font-weight: bold;
}

.btn-generator {
    display: inline-block;
    width: 7em;
    height: 3em;
    padding: 1px;
    font-family: inherit;
    font-size: larger;
    font-weight: bold;
    background-color: inherit;
    border: 1px solid black;
    box-shadow: 1px 1px #0000007a;
    cursor: pointer;
}

.btn-generator:hover { 
    background-color: #f9e8a2; 
}

.btn-generator:active { 
    background-color: #fcc900; 
}

.progress { 
    margin: 2em; 
    text-align: center; 
}

.output {
    width: auto;
    height: 9em;
    max-height: 9em;
    max-width: 72em;
    padding: 1em;
    overflow: auto;
    overflow-wrap: break-word;
    background-color: #f9f2d5;
    box-shadow: 5px 5px 10px #a7a28b;
    border: 1px solid black;
    margin: 0 auto;
}

.result { 
    display: inline-block; 
    margin: 10px; 
    padding: 5px; 
}

.same { 
    font-style: italic; 
    color: darkviolet; 
}

.btn-stop {
    display: none;
    font-family: inherit;
    font-size: large;
    font-weight: bold;
    background-color: inherit;
    color: red;
    border: 0;
    cursor: pointer;
}

.btn-stop:hover { 
    color: #920000; 
}

.btn-stop:active { 
    color: #3c0606; 
}

.rejected  { 
    display: inline-block; 
    margin: 2em 3rem;  
    color: red; 
    font-weight: bold;
}

.link { 
    float: right; 
    margin: 2rem 3rem;
}
