
/* || mobile to tablet */
@media only screen and (min-width:426px) and (max-width:767px) {

    h1 { 
        font-size: 2.5rem; 
    }

    .word-placeholder {
        width: 80%;
    }

    .word-input {
        width: 100%;
    }
}

/* || mobile to tablet */
@media only screen and (min-width:600px) {
    .content { 
        margin: 1em; 
    }

    .rejected, .link {
        margin: 2em;
        text-align: center;
    }

    .result { 
        font-size: large; 
    }
}

/* || tablet to laptop */
@media only screen and (min-width:768px) {
    .content  { 
        margin: 2rem; 
    }

    h1 { 
        text-shadow: 4px 1px #00000047; 
        font-size: 4em; 
    }

    .word-input {
        width: 40em;
        height: 1em;
        padding: 1em;
    }

    .progress { 
        font-size: large; 
    }

    .result { 
        font-size: large; 
    }
}

/* || mobile / tablet */
@media only screen and (min-width:320px) and (max-width:895px) {
    .btn-generator { 
        display: block; 
        margin: 1em auto; 
    }
}

/* || mobile */
@media only screen and (max-width:425px) {
    h1 { 
        text-shadow: none; 
        font-size: 2.5rem; 
    }

    .word-placeholder {
        width: 80%;
    }

    .word-input {
        width: 100%;
        font-size: small; 
    }

    .btn-generator {
        width: 6em;
        height: 2em;
        padding: 1px;
        margin: 1em auto;
        font-size: small;
    }

    .progress { 
        margin: 1em; 
    }

    .btn-stop { 
        font-size: inherit; 
    }

    .rejected, .link {
        display: block;
        font-size: small; 
        margin: 2em;
        text-align: center;
    }

    .link {
        width: -moz-fit-content;
        width: fit-content;
        max-width: 100%;
    }

    .result { 
        margin: 6px; 
        padding: 3px; 
    }
}